
$primary: #f5f5f5;
$secondary: #efefef;
$dark: #333;
$white: #fff;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$LigthBlue: #add8e6;
$yellow: #ffff00;
$orange: #F09933;
$purple: #800080;
$pink: #ffc0cb;
$brown: #a52a2a;
$grey: #808080;
$black: #000;
