@font-face {
  font-family: 'KaushanScript';
  src: url('../fonts/KaushanScript-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//font importé islandMoments
@font-face {
  font-family: 'islandMoments';
  src: url('../fonts/IslandMoments-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');